Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MetaHumans/Common/Face/Face_Archetype.uasset
Content/MetaHumans/Taro/Face/Taro_FaceMesh.uasset
